# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Packages
*.egg-info/
dist/
build/

# Environments
.env
.venv
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# Data and models
/data/
/models/
*.h5

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
